* {
  margin: 0;
  padding: 0;
}

.bg {
  margin: 50px auto 20px auto;
}

.footer {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  font-family: "Yellowtail", cursive;
  font-size: 32px;
  color: black;
  cursor: pointer;
}

.logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  cursor: pointer;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
}

.about {
  cursor: pointer;
  p {
    cursor: pointer;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
  }

  .about {
    text-align: center;
    padding: 20px;
  }

  .logos {
    margin-bottom: 20px;
  }
}
