@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,900;1,600&family=Source+Sans+Pro:wght@200;400;600;700;900&family=Yellowtail&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  background-color: #2d2d2d;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 8px 2px #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  margin-bottom: 50px;
}

.nav {
  display: flex;
  height: 100%;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  transition: all 0.3s ease;
}

.logo {
  font-family: "Yellowtail", cursive;
  font-size: 32px;
  color: white;
  margin-left: 20px;
}

.link {
  list-style: none;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  &:hover {
    background-color: rgb(255, 0, 68);
    transform: translateY(-5px);
  }

  a {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
}

.active {
  background-color: rgb(255, 0, 68);
}

@media screen and (max-width: 768px) {
  .links {
    flex-direction: column;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 20;
    animation-name: menuDisactive !important;
    -webkit-animation-name: menuDisactive !important;
    // animation-delay: 1s;

    transition: all 1s ease;
  }
  // .linksActive {
  //   display: flex;
  //   background-color: royalblue;
  // }
  .linksActive {
    background-color: #2d2d2d;
    transition: all 0.3s ease;
    animation-name: menuActive;
    -webkit-animation-name: menuActive;

    // height: 100vh;
    transition: all 1s ease;

    clip-path: circle(1050px);
    -webkit-clip-path: circle(1050px);
  }
  .sign {
    display: none;
  }

  .btns {
    button:first-child {
      display: none;
    }
    button:last-child {
      font-size: 50px;
    }
  }

  .cross {
    height: 34px;
    width: 40px;
    // background-color: red;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 21;
  }

  .line {
    width: 100%;
    height: 5px;
    background-color: white;
    transition: all 0.3s ease;
  }

  .close {
    .line:first-child {
      transform: translateY(14px) rotate(45deg);
    }
    .line:last-child {
      transform: translateY(-15px) rotate(-45deg);
    }
    .line:nth-child(2) {
      opacity: 0;
    }
  }
}

@keyframes menuDisactive {
  from {
    clip-path: circle(1050px);
    -webkit-clip-path: circle(1050px);
    // height: 100vh;
  }
  to {
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    // height: 0;
  }
}

@keyframes menuActive {
  from {
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    // height: 0;
  }
  to {
    clip-path: circle(1050px);
    -webkit-clip-path: circle(1050px);
    // height: 100vh;
  }
}
