.bg {
  //   margin: 20px 0;
  padding: 40px 0;
  background-color: royalblue;
}

.form {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: royalblue;

  form {
    width: 60%;
  }
  textarea {
    width: 100%;
    // margin: 20px 10px 10px 10px;
  }

  input[type="email"] {
    width: 100%;
  }
}
.name {
  display: flex;
  justify-content: space-between;
}
.pair {
  width: 50%;
  // margin: 10px;

  display: flex;
  flex-direction: column;
}

.pair:first-child {
  margin-right: 20px;
}

.single {
  margin-top: 10px;
}

@media screen and (max-width: 660px) {
  .name {
    flex-direction: column;
  }
  .pair {
    width: 100%;
  }
}
