.img {
  max-height: 550px;
  width: 100%;
  position: relative;
}

.box {
  position: relative;
  span {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.25;
    position: absolute;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;

  box-shadow: 8px 8px 20px 2px #3d3a3a;
}
